@media screen and (max-width: 800px){
    .b3456789{
        flex-direction: column;}
    .b389{
    height: 20px;
    display: flex}
/*.b3{height: 20px*/
/*}*/
/*    .b4567{height: 300px;*/
/*        width: 100%;*/
/*        background: #77558b;}*/

}