h1 {background: aqua; color: coral}
p {background: deeppink; color: blue}
ul {background: lightgreen; color: darkviolet}
a {background: black; color: aliceblue}
h2 {background: mediumblue; color: blanchedalmond}
li {background: blanchedalmond;color: black}
img {max-width: 400px; min-width: 200px; }