
body {
    display: flex;
}
.usrdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 50px;
    background: blanchedalmond;
    margin: 2px;
    border: #884d8b solid 2px ;
}

